


.brand-new{
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__title{
    font-weight: 800;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 41px;
    letter-spacing: -1%;

  }
  &__header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__list{
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  &__arrows{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  &__arrow{
    width: 32px;
    height: 32px;
    border: 1px solid #b4bdc3;
    background-color: #fff;
    align-items: center;
    cursor: pointer;
    img{
      height: 16px;
      width: 16px;
    }
  }
}
